@font-face {
  font-family: "Redacted";
  src: url('assets/Redaction_70-Bold.woff2') format("woff2");
}
@font-face {
  font-family: "Redacted2";
  src: url('assets/Redaction_35-Regular.woff2') format("woff2");
}
:root{
  --red: rgb(195, 0, 0);
  --gold: rgb(195, 133, 0);
  --black: rgb(25, 1, 1);
  --brown: rgb(52, 15, 5);
  --space: 50px;
  --font-size-large: 50px;
  --font-small-size: 24px;
  --font-tiny-size: 20px;
}


body{
    background-color: var(--black);
    margin:0;
    color: var(--gold);
}
canvas{
    background-color: rgba(0,0,0,0);
    opacity:1;
    transition:0.2s;
    position: fixed;
    width:100vw;
    height: 100vh;
    top:0;
    left:0;
}
canvas.on{
  mix-blend-mode: multiply;
  opacity:0.9;
}
.video{
  position:fixed;
  z-index: -1;
  pointer-events: none;
  width: 100vw;
  opacity: 0;
  transition: opacity 0.2s;
}

.video.on{
  opacity: 1;
}

#feed{
  position:fixed;
  right:var(--space);
  bottom:var(--space);
  z-index: 9;
  display:none;
}
#feed textarea{
  background-color: rgb(78, 25, 12,0.5);
  border: 1px solid var(--gold);
  color: var(--gold);
  font-size: var(--font-tiny-size);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
#feed h1{
  font-family: "Redacted";
  margin-bottom:0;
}
#feed.on{
  display: block;
}
#feed #thank-you, #feed.submitted h1, #feed.submitted input, #feed.submitted textarea{
  display: none;
}
#feed.submitted #thank-you{
  display: block;
}
::placeholder {
  color: var(--gold);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--gold);
}
#thank-you{
  font-size: var(--font-small-size);
}
#feed input[type=submit]{
  background-color: rgb(78, 25, 12,0.5);
  border: 1px solid var(--gold);
  color: var(--gold);
  font-family: monospace;
  font-size: var(--font-tiny-size);
  text-transform: lowercase;
  padding:10px;
  cursor: pointer;
}
#feed input[type=submit]:hover{
  opacity: 0.7;
}
#list{
  max-height: 200px;
  overflow: hidden;
}
#feed.submitted #list{
  overflow: scroll;
}
#zoom {
  font-size: var(--font-small-size);
  font-family: 'Redacted';
  margin: var(--space);
  text-align: right;
  position:fixed;
  bottom:0;
  width: calc(100% - var(--space) * 2);
  text-transform: lowercase;
}
#link-to-book, #link-to-home {
  font-size: var(--font-small-size);
  font-family: 'Redacted';
  margin: var(--space);
  text-align: left;
  position:fixed;
  z-index: 9;
  top:0;
  width: calc(100% - var(--space) * 2);
  text-transform: lowercase;
}
#link-to-book a, #link-to-home a{
  text-decoration: none;
  color:inherit;
}
#zoom.on{
  display: none;
}



/* PUBLICATION PAGE */
.gallery-container {
  width: 100%;
  position: relative;
}
.gallery-container canvas{
  position: relative;
  width: 35vw!important;
  height: 35vw !important;
}
.gallery-container div:nth-child(3) canvas{
  position: relative;
  width: 50vw!important;
  height: 50vw !important;
}
.gallery-container div{
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}
.gallery-container div:nth-child(3){
  right:0;
  z-index: 0;
}
.gallery-container div:nth-child(2){
  left:35vw;
  z-index: 1;
}
.gallery-container div:nth-child(1){
  left: calc(var(--space)*2);
}
.photo-slides img{
 width: calc(100% - var(--space) * 8);
 margin-top: var(--space);
}
.photo-slides{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 8;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
.gif{
  width: 15vw;
  position: fixed;
  z-index: 8;

}
#accordion{
  bottom:var(--space);
  right:0;
}
#book{
  top: 35vh;
  width: 20vw;
}
#ceramic{
  top:0;
  right:0;
  width: 20vw;
}
#about{
  top:var(--space);
  right:var(--space);
  position:fixed;
  z-index: 9;
  font-family: "Redacted";
  font-size: var(--font-small-size);
  text-align: right;
  margin:0;
  cursor: pointer;
}
#about img{
  width: 18vw;
}
.modal{
  display: none;
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Redacted2";
  font-size: var(--font-small-size);
  z-index: 9;
}
.modal .inner{
  width: 70%;
  height: calc(100vh - (var(--space) * 4));
  background: var(--brown);
  padding: var(--space);
}
.modal.on{
  display: flex;
}
.modal .inner #close svg{
  width: 50px;
  cursor: pointer;
}
.modal .inner #close{
  text-align:right;

}
@media (max-width: 900px){
  :root{
    --space: 20px;
    --font-size-large: 30px;
    --font-small-size: 18px;
    --font-tiny-size: 16px;
  }

  .photo-slides img{
    width: calc(100% - var(--space) * 8);
    margin-top: var(--space);
   }
   .modal .inner #close svg{
    width: 30px;
  }
   body{
    overflow-x: hidden;
   }
   .video{
    height: 100vh;
    width: 300vh;
    transform:translateX(-30%);
    opacity: 0;
    top:0;
    transition: opacity 0.2s;
  }
}